.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    border-bottom: 1px solid lightblue;
    padding: 0.5em 0 0.5em 1em;
    margin-bottom: 2em;
    position: fixed;
    z-index: 11;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    margin: auto;
}

.footer__item {
    margin: 0 1rem;
}

@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
body {
    --text-color: #222;
    --bkg-color: #fff;
  }
  #btn-toggle{
margin-left:20rem;
  }
  body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
  }
  
  
    body {
      --text-color: #eee;
      --bkg-color: #121212;
    }
    body.light-theme {
      --text-color: #222;
      --bkg-color: #fff;
    }
  }
  

  
  body {
    background: var(--bkg-color);
  }
  
  h1 {
    color: var(--text-color);
  }